In [4]:
name = "Dhruv"
age = 22

print("My name is ", name,"and im ",age,"years old")

My name is  Dhruv and im  22 years old

In [6]:
name = input("Enter your name :")
age = int(input("Enter your age :"))

print("Your name is", name)
print("You are", age, "years old")
print("In 5 years, you will be", age + 5)

Your name is dhruv
You are 22 years old
In 5 years, you will be 27

In [8]:
number =  int(input("Enter a Number"))

if number % 2 == 0:
    print("Number is Even")
else:
    print("Number is odd")

Number is Even

In [12]:
number = int(input("Enter a number"))

if number %3 == 0:
    print("Divisible by 3")
else:
    print("Not Divisible by 3")

Not Divisible by 3

In [13]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range (5):
    print("Hello" ,i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [15]:
count = 1
while count <= 5:
    print("count is:", count)
    count = count + 1

count is: 1
count is: 2
count is: 3
count is: 4
count is: 5

In [23]:
print("All numbers from 1 to 20 :")
for i in range (1,20):
    print(i)

print("Even numbers from 1 to 20")
for i in range (20):
    if i %2 == 0:
        print(i)

All numbers from 1 to 20 :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Even numbers from 1 to 20
0
2
4
6
8
10
12
14
16
18

In [26]:
print("odd numbers between 1 and 20")
for i in range (1,20):
    if i % 2 !=0:
        print(i)

odd numbers between 1 and 20
1
3
5
7
9
11
13
15
17
19

In [27]:
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [28]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [36]:
for i in range (1,6):
    for j in range (1, i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [43]:
for i in range (1,6):
    print("*"*i)

*
**
***
****
*****

In [48]:
word= "python"
for i in word:
    print(i,)
print("length of word")
print(len(word))

p
y
t
h
o
n
length of word
6

In [51]:
word = input("Enter the word")
print("Enter the word:",word)
print("length if word", len(word))
print("Uppercase of word:",word.upper())
print("reverse of word:",word[::-1])

Enter the word: python
length if word 6
Uppercase of word: PYTHON
reverse of word: nohtyp

In [ ]:
s= input("Enter a word:")

if s == s[::-1]:
    print("Is Palindorme")
else:
    print("Not Palindrome")

Not Palindrome

In [56]:
s= input("Enter a Word")
vowels = set("aeiouAEIOU")
count=0
for ch in s:
    if ch in vowels:
        count += 1
print("Vowel Count",count)

Vowel Count 1

In [63]:
s = input("Enter a String:").strip()

if s =="":
    print("")
else:
    result = ""
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i-1]:
            count +=1
        else:
            result += s[i-1] +str(count)
            count =1
    result += s[-1] + str(count)
    print(result)

112131

In [1]:
def add(a,b):
    return a+b
print(add(1,2))

3

In [6]:

def solve(currentstate):
    nxt = {"Red":"Green","Green":"Yellow","Yellow":"Red"}
    return nxt[currentstate]

In [18]:
currentstate = input("Enter Current State")

def solve(currentstate):
    nxt = {"Red":"Green","Green":"Yellow","Yellow":"Red"}
    return nxt[currentstate]

print("Next State:",solve(currentstate))

Next State: Green

In [17]:
numbers = [1, 2, 3, 4, 5]
print("First number:",numbers[0])
print("last Number:",numbers[-1])
numbers.append(6)
print(numbers)
numbers.remove(2)
numbers.insert(1,100)
print(numbers)

First number: 1
last Number: 5
[1, 2, 3, 4, 5, 6]
[1, 100, 3, 4, 5, 6]

In [18]:
num = [1,2,3,4,5]
total = 0
for n in num:
    total += n
print("Sum =",total)

Sum = 15

In [21]:
num = [5, 12, 7, 3, 9]
largest = num[0]

for n in num:
    if n>largest:
        largest=n



print("Largest =", largest)

Largest = 12

In [50]:
numbers  = [4, 9, 2, 8, 5]
s = 0
for n in numbers:
    s +=n
print("Sum = ", s)

largest = numbers[0]
for n in numbers:
    if n>largest:
        largest= n
print("Largest number:",largest)

even = []
for n in numbers:
    if n%2 == 0:
        even.append(n)
print("Even numbers in the list:",even)


odd = []
for n in numbers:
    if n%2 != 0:
        odd.append(n)
print("Odd numbers in the list:",odd)

Sum =  28
Largest number: 9
Even numbers in the list: [4, 2, 8]
Odd numbers in the list: [9, 5]

In [55]:
def greet():
    print("Hello")
    print("Hi")

greet()

def greetwithname(name):
    print("Hello", name)

greetwithname("Dhruv")
greetwithname("Polar")

Hello
Hi
Hello Dhruv
Hello Polar

In [57]:
def square(x):
    return x*x

print(square(int(input("Enter the number to find square of:"))))

25

In [60]:
def is_even(n):
    if n %2 ==0:
        return True
    else:
        return False

print(is_even(int(input("Enter the number to find even or not"))))

True

In [78]:
def addition(a,b,c):
    return a+b+c

print(addition(3,5,3))

11

In [79]:
def addition(numbers):
    return sum(numbers)

print(addition([1,2,3,4,5]))

15

In [81]:
def mul(a,b):
    return a*b

print(mul(4,5))
print(mul(7,6))

20
42

In [91]:
def max(a,b):
    if a>b:
        return a
    elif b>a:
        return b
print(max(1,2))

2

In [93]:
def max_of_three(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

print(max_of_three(1,2,3))

3

In [102]:
def min_of_three(a,b,c):
    if a<=b and a<=c:
        return a
    elif b<=a and b<=c:
        return b
    else:
        return c
print("Minimum of three numbers:",min_of_three(1,2,3))

Minimum of three numbers: 1

In [107]:
def min_of_three(a,b,c):
    return min(a,b,c)

a= int(input("Enter 1st Number:"))
b= int(input("Enter 2nd Number:"))
c= int(input("Enter 3rd Number:"))

print("Minimum of these 3 numbers are:",min_of_three(a,b,c))

Minimum of these 3 numbers are: 1

In [112]:
def min_of_three(a,b,c):
    return min(a,b,c)

a,b,c = map(int,(input("Enter 3 numbers seperated by space:").split()))

print("minimum of 3 numbers:",min_of_three(a,b,c))

minimum of 3 numbers: 1

In [ ]:
student = {"Name":"Dhruv","Age":22,"course":"Python"}


print(student["Age"],student["course"],student["Name"])

22 Python Dhruv

In [116]:
word = "aabbbc"
freq={}

for ch in word:
    if ch in freq:
        freq[ch] +=1
    else:
        freq[ch] =1

print(freq)

{'a': 2, 'b': 3, 'c': 1}

In [141]:
student = {"Name":"Dhruv","Age":22,"City":"Bengaluru"}

student["Course"]="Python"
student["hobby"]="Riding"

print(student["City"])

for key,value in student.items():
        print(key,":",value)

Bengaluru
Name : Dhruv
Age : 22
City : Bengaluru
Course : Python
hobby : Riding

In [143]:
marks = {"Math":85,"Science":90,"English":78}

marks["History"]=80

for key, value in marks.items():
    print(key,":",value)

Math : 85
Science : 90
English : 78
History : 80

In [146]:
marks = {"Math":85,"Science":90,"English":78,"History":80}

def highest_subject(marks):
    best_subject = list(marks.keys())[0]
    best_score = marks[best_subject]

    for subject,score in marks.items():
        if score > best_score:
            best_subject = subject
            best_score = score
    
    return best_subject

print("higghest scoring subject", highest_subject(marks))

higghest scoring subject Science

In [19]:
marks = {"Math":85,"Science":90,"English":78,"History":80}

def highest_lowest_subject(marks):
    highest= max(marks,key=marks.get)
    lowest = min(marks,key= marks.get)
    return highest,lowest

high,low=highest_lowest_subject(marks)

print("highest scoring subject",high,"with",marks[high])
print("highest scoring subject",low,"with",marks[low])

highest scoring subject Science with 90
highest scoring subject English with 78

In [ ]:
num